#event-form
  padding: 50px 0
  p
    color: #ababab
    font-weight: 400
  label
    color: #ababab
    font-weight: 700
    font-size: 24px
  input
    margin-bottom: 20px
    font-weight: 700
    border-radius: 3px
  .updates
    text-align: left
    label
      padding-top: 20px
    .check-label
      font-size: 16px
      font-weight: 400
  button
    margin-top: 10px
    padding: 16px 50px
    color: #fff
    text-transform: uppercase
    font-weight: 700
  h1
    font-size: 30px
    font-weight: 400
  input[type="checkbox"]
    vertical-align: top

