a
  &:focus
    outline: none
#hero
  margin-top: 20px
  .row
    padding-left: 2px
    padding-right: 2px

.pt-50
  padding-top: 50px

#intro
  .row
    padding: 20px 0
    background: #f9f9f9
  h1
    font-size: 2em
  button
    float: left
  .code-not-working
    float: right
    padding-right: 30px
    color: #747474
  a
    color: $primary_color
    text-decoration: underline
    font-weight: 700
  
#welcome
  color: #7b7a7a
  padding: 20px 0
  h1
    padding: 0
    margin: 0
  h2
    padding: 0
    margin: 0 0 15px
    text-transform: uppercase
    font-weight: 300

#gallery
  padding: 50px 0
  p
    font-size: 24px
    a
      color: #3dc870
      text-transform: uppercase

  h3
    font-weight: 700
    color: #7b7a7a
    margin-bottom: 18px
    span
      font-size: 16px
      text-decoration: underline
      padding-left: 5px

#code-input
  font-weight: 700

#help
  h4
    font-size: 24px
  p
    margin-top: 15px
    font-size: 14px

#gallery
  .block-grid-item
    padding-left: 2.5px
    padding-right: 2.5px
    p
      font-size: 24px
      color: $primary_color

#gallery-holder 
  .block-grid-item 
    p
      font-weight: 700

#error-message
  font-weight: 700

.error
  margin: 0px !important

footer
  .row
    margin-left: 0px
    margin-right: 0px
  a
    &:hover
      text-decoration: none
  .copyright
    a
      &:hover
        color: #3dc870
        text-decoration: none 


.btn.focus, .btn:focus, .btn:hover
  outline: none

#gal
  h1
    text-align: left
  a
    font-size: 18px

textarea, input[type="checkbox"], input, textarea, input[type="text"], #jq-dropdown-2 input, textarea.form-control
  border-color: #d9d9d9

.underline
  text-decoration: underline

input, label
  outline: 0px solid transparent !important
  &:focus
    outline: none !important

.form-control
  border-color: #d9d9d9