---
layout: events
---

<!-- Icon Navigation -->
<div id="icon-nav">
  <div class="container">
    <div class="row">
      <h1>Event Name</h1>
    </div>
    <div class="row event-nav">
      <div class="all-photos col-lg-1 col-md-1 col-xs-2 border-right">
          <a href="#" class="close-btn">
          <div>{% image photo-icon-dark.png class="close-cart" %}
          {% image photo-icon.png class="close-cart" %}</div>
         <p style="margin-top:-1px; padding-top:2px;">All Photos</p></a>
      </div>
      <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn">
          <div>{% image favorites-icon.png class="close-cart" %}
          {% image favorites-icon-green.png class="close-cart" %}</div>
         <p style="margin-top:-1px; padding-top:2px;">Favorites</p></a><div class="noti_bubble badge">
            5
          </div>
      </div>
      <div class="col-lg-1 col-md-1 col-xs-2 border-right">
        <div id="share-icon">
          <a href="#" data-jq-dropdown="#jq-dropdown-2" class="close-btn">
            <div>
              {% image share-icon-dark.png %}
              {% image share-icon.png %}
            </div>
             <p style="margin-top:-1px; padding-top:2px;">Share</p>
          </a>
        </div>
        {% include share-menu.html %}
      </div>
      <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn"><div id="notification-container">
        <div>{% image folders-icon.png %}
        {% image folders-icon-green.png %}</div>
          <div class="noti_bubble badge">
            3
          </div>
           <p style="margin-top:-1px; padding-top:2px;">Isabel and her Woman Part 1</p></a>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn"><div id="notification-container">
        <div>{% image folders-icon.png %}
        {% image folders-icon-green.png %}</div>
          <div class="noti_bubble badge">
            99
          </div>
           <p style="margin-top:-1px; padding-top:2px;">Isabel and her Woman Part 2</p></a>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn">
          <div>{% image folders-icon.png %}
        {% image folders-icon-green.png %}</div>
         <p style="margin-top:-1px; padding-top:2px;">Isabel and Bryce Married</p></a>
      </div>
      <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn"><div id="notification-container">
          <div>{% image folders-icon.png %}
        {% image folders-icon-green.png %}</div>
          <div class="noti_bubble badge">
            99
          </div>
           <p style="margin-top:-1px; padding-top:2px;">The Ceremony Part 1</p></a>
        </div>
      </div>
       <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn"><div id="notification-container">
          <div>{% image folders-icon.png %}
        {% image folders-icon-green.png %}</div>
          <div class="noti_bubble badge">
            99
          </div>
           <p style="margin-top:-1px; padding-top:2px;">The Ceremony Part 2</p></a>
        </div>
      </div>
       <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn">
          <div>{% image folders-icon.png %}
        {% image folders-icon-green.png %}</div>
         <p style="margin-top:-1px; padding-top:2px;">Reception Mid</p></a>
      </div>
      <div class="col-lg-1 col-md-1 col-xs-2">
        <a href="#" class="close-btn"><div id="notification-container">
          <div>{% image folders-icon.png %}
        {% image folders-icon-green.png %}</div>
          <div class="noti_bubble badge">
            99
          </div>
           <p style="margin-top:-1px; padding-top:2px;">More Folders</p></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-6">
        <a href="" id="white" class="btn btn-default" data-toggle="modal" data-target="#slideShow">START SLIDESHOW</a>
      </div>

    </div>
<!-- Icon Navigation Mobile -->
<div class="event-nav-mobile">
  <div class="icons-holder">
  <div class="icon-holder all-photos border-right">
    <a href="">{% image photo-icon.png %}
    <p style="padding-top:5px; color:#3dc870;">All Photos</p></a>
  </div>
  <div class="icon-holder favorites-holder">
    <div id="notification-container">
    <a href="">{% image favorites-icon.png %}
    <div class="noti_bubble badge">
      5
    </div>
    <br />
     <p style="padding-top:5px">Favorites</p></a>
  </div></div>
  <div class="icon-holder border-right">
        <div id="share-icon-mobile">
          <a href="#" class="drawer-toggle">
            {% image share-icon-dark.png %}
            <br />
             <p style="padding-top:5px">Share</p>
          </a>
        </div>

    <div id="share-icon">
      <a href="#" data-jq-dropdown="#jq-dropdown-2">
        {% image share-icon.png %}
        <br />
        Share
      </a>
    </div>
    {% include share-menu.html %}
  </div>
  <div class="icon-holder">
    <div id="notification-container">
      <a href="#">{% image folders-icon.png %}
      <div class="noti_bubble badge">
        3
      </div>
      <br />
      <p style="padding-top:5px">Isabel and her Woman Part 1</p></a>
    </div>
  </div>
  <div class="icon-holder">
    <div id="notification-container">
      <a href="#">{% image folders-icon.png %}
      <div class="noti_bubble badge">
        99
      </div>
      <br />
       <p style="padding-top:5px">Isabel and her Woman Part 2</p></a>
    </div>
  </div>
  <div class="icon-holder">
      <a href="#">{% image folders-icon.png %}
     <p style="padding-top:5px">Isabel and Bryce Married</p></a>
  </div>
  <div class="icon-holder">
    <div id="notification-container">
        <a href="#">{% image folders-icon.png %}
      <div class="noti_bubble badge">
        99
      </div>
      <br />
       <p style="padding-top:5px">The Ceremony Part 1</p></a>
    </div>
  </div>
  <div class="icon-holder">
    <div id="notification-container">
      <a href="#">{% image folders-icon.png %}
      <div class="noti_bubble badge">
        99
      </div>
      <br />
       <p style="padding-top:5px">The Ceremony Part 2</p></a>
    </div>
  </div>
  <div class="icon-holder">
    <a href="#">{% image folders-icon.png %}
     <p style="padding-top:5px">Reception Mid</p></a>
  </div>
  <div class="icon-holder">
    <div id="notification-container">
        <a href="#">{% image more-folders-icon.png %}
      <div class="noti_bubble badge">
        99
      </div>
      <br />
       <p style="padding-top:5px">More Folders</p></a>
    </div>
  </div>
  <div class="icon-holder">
    <a href="" class="btn btn-default hidden-xs hidden-sm" data-toggle="modal" data-target="#slideShow">START SLIDESHOW</a>
  </div>
</div>
</div>

  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 mosaic-fluid">
      <div class="mosaic">
        <div class="item item-container pl-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-1.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-2.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-7.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pr-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-5.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-6.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pl-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-8.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pr-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-9.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-3.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-4.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pl-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-5.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-10.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pr-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-11.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-12.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pl-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-4.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pr-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-5.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-5.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pl-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-6.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-7.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pr-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-8.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-9.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pl-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-10.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item pr-0">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-11.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
            <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
        <div class="item">
          <a href="" data-toggle="modal" data-target="#slideShow">{% image event-12.jpg %}<a href="#">{% image favorites-icon-white.png class="heart-icon hidden-md hidden-lg" %}</a></a>
          <div class="hover-icons hidden-xs hidden-sm">
            <p>{% image zoom-icon.png %}</p>
            <p>NAME OF PHOTO</p>
            <a href="#" class="close-btn"><div class="left-icon">
          {% image shopping-cart-icon-white.png %}
          {% image shopping-cart.png %}</div></a>
          <div class="middle-icon">{% image share-icon-white.png %}</div>
            <div class="right-icon">{% image favorites-icon-white.png %}</div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center load-more">
    <a href="#" class="btn btn-default load-more">Load More</a>
  </div>
</div>
{% include slideshow-modal.html %}
