        <div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
          <ul class="jq-dropdown-menu">
<li><a href="/">Home</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Contact</a></li>
            <li class="folders-row"><i class="fa fa-folder-o folders"></i>Folders</li>
              <li><a href="#">All Photos</a></li>
              <li><a href="#">Favorites</a></li>
<li><a href="#">Isabel and her women part 1</a></li>
<li><a href="#">Isabel and her women part 2</a></li>
<li><a href="#">Isabel and Bryce Married</a></li>
<li><a href="#">The Ceremony Part 1</a></li>
<li><a href="#">The Ceremony part 2</a></li>
<li><a href="#">Reception Mid</a></li>
<li><a href="#">Reception late</a></li>
<li><a href="#">reception early</a></li>
<li><a href="#">the after party</a></li>
<li><a href="#">the girl next door</a></li>
<li><a href="#">fake folder names</a></li>
<li><a href="#">that keep going</a></li>
<li><a href="#">to show how we fill show </a></li>
<li><a href="#">all the folders on the site</a></li>

          </ul>
        </div>
        <div id="navicon">
          <button type="button" role="button" aria-label="Toggle Navigation" class="lines-button x" data-jq-dropdown="#jq-dropdown-1">
            <span class="lines"></span>
          </button>
          <div class="menu-copy">
          MENU
          </div>
