<footer>
  <div id="help" class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8 footer-logo">
        {% image logo-footer.png class="hidden-sm" %}
        <ul>
          <li><span>Narwhal Collective</span></li>
          <li>
            <a href="mailto:benjamin@narwhalcollective.com">benjamin@narwhalcollective.com</a>
          </li>
          <li>(303) 772-8119</li>

        </ul>

      </div>
      <div class="col-lg-5 col-md-4 help-text">
        <span>Need Help?</span><br />
        <a href="contact.html">Contact Us</a>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 copyright">
      <p class="text-center">
      <span><a href="#">Conditions of Use</a></span>
      <span><a href="#">Privacy Notice</a></span>
      <span>© 2016 Pro. Image Software</span>
      </p>
    </div>
  </div>
</div>
</footer>




