        <div id="navicon">
          <button type="button" role="button" aria-label="Toggle Navigation" class="lines-button x" data-jq-dropdown="#jq-dropdown-1">
            <span class="lines"></span>
          </button>
          <div class="menu-copy">
          MENU
          </div>
          </div>
        <div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
          <ul class="jq-dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="event-form.html">New Event</a></li>
            <li><a href="events.html">Event</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="order-form.html">Checkout</a></li>
            <li><a href="order-complete.html">Finished Order</a></li>
            <li><a href="events.html">Event</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>

