
<div id="mobile-navicon">
  <button type="button" role="button" aria-label="toggle navigation" class="lines-button x">
    <span class="lines"></span>
  </button>
</div>

<div id="mobile-nav">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="gallery.html">gallery</a></li>
    <li><a href="event-form.html">new event</a></li>
    <li><a href="events.html">event</a></li>
    <li><a href="cart.html">cart</a></li>
    <li><a href="order-form.html">checkout</a></li>
    <li><a href="order-complete.html">finished order</a></li>
    <li><a href="events.html">event</a></li>
    <li><a href="contact.html">contact</a></li>
  </ul>
</div>

