        <div id="jq-dropdown-2" class="jq-dropdown jq-dropdown-tip share-menu">
          <ul class="jq-dropdown-menu">
            <li>
              <label>Email</label>
                <input class="form-control">
            </li>
            <li>
              <label>Comments</label>
              <textarea class="form-control"></textarea>
            </li>
            <li>
              <div class="row share-others">
              Would like others associated with 
              this event to view your favorites?
              </div>
              <div class="row ptb-10">
                <div class="col-xs-3 checks">
              <input id="yes" type="checkbox" class="checkbox-custom">
              <label for="yes" class="checkbox-custom-label"> Yes</label>
                </div>
                <div class="col-xs-3 checks">
              <input id="no" type="checkbox" class="checkbox-custom">
              <label for="no" class="checkbox-custom-label"> No</label>
                
                </div>
                <div class="col-xs-6">
                  <a href="#" class="btn btn-default"> Save My Fav</a>
                </div>
              </div>
            </li>
            <li class="jq-dropdown-divider"></li>
            <li class="ptb-10">
              <div class="radio-option">
                <div class="radio-text">
                  hello@narwhalcollective.com

                </div>
                <div class="radio-buttons">
                  <input id="radio-2" class="radio-custom" name="radio-group" type="radio">
                  <label for="radio-2" class="radio-custom-label"></label>
                </div>
             <li class="ptb-10">
              <div class="radio-option">
                <div class="radio-text">
                  hello@narwhalcollective.com
                
                </div>
                <div class="radio-buttons">
                  <input id="radio-3" class="radio-custom" name="radio-group" type="radio">
                  <label for="radio-3" class="radio-custom-label"></label>
                </div>
             <li class="ptb-10">
              <div class="radio-option">
                <div class="radio-text">
                  hello@narwhalcollective.com

                </div>
                <div class="radio-buttons">
                  <input id="radio-4" class="radio-custom" name="radio-group" type="radio">
                  <label for="radio-4" class="radio-custom-label"></label>
                </div>
             <li class="ptb-10">
              <div class="radio-option">
                <div class="radio-text">
                  hello@someotherwebsite.com
                </div>
                <div class="radio-buttons">
                  <input id="radio-1" class="radio-custom" name="radio-group" type="radio">
                  <label for="radio-1" class="radio-custom-label"></label>
                </div>
            </li>

          </ul>
        </div>

