@media (min-width: 767px) 
  .close-cart
    max-height: 32px
  .remove-size-desktop
    img
      max-height: 22px

@media (max-width: 767px) 
  .jcrop-active
    margin-top: 0px
    width: 100% !important
    height: auto !important
  #cart-form
    border-top: 0
    .options-row
      margin-top: 25px
    .cart-row-last
      border-bottom: 2px dotted #7b7a7a
    .cart-row
      text-align: center
        
  .remove-size-desktop
    display: none
  .remove-this
    margin-top: 12px
    white-space: nowrap
    font-size: 12px
    img
      height: 20px
  .qty
    margin-top: 8px
  .cart-price
    margin-top: 4px
    display: inline-block
    margin-left: 35px
  .options
    margin-top: 10px
  .cart-details
    text-align: center
    width: 100%
    padding: 0
    div
      margin-top: 20px
      margin-bottom: 18px
    a
      width: 100%
