@media (min-width: 767px) 
  .mobile-code-not-working
    display: none

@media (max-width: 767px) 
  #event-form
    padding: 20px 15px
    p
      margin-top: 12px
      margin-bottom: 20px
      font-size: .92em
      text-align: left
    h1
      margin-top: 18px
      text-align: center
      font-size: 1.6em
    label
      font-size: 1em
      color: #7b7a7a
      font-weight: 700
    .btn
      width: 100%
    .check-label
      color: #7f7e7e
