@media (min-width: 992px) 
  .event-nav-mobile
    display: none
  #share-icon-mobile
    display: none
  #icon-nav
    h1
      font-size: 30px
  .slideshow-button
    font-weight: 400
  #mobile-nav
    display: none
    ul
      display: none
  .pl-0
    padding-left: 0px !important
  .pr-0
    padding-right: 0px !important
  .hover-icons
    .top-icon
      margin-top: -12px


@media (max-width: 992px) 
  .load-more
    padding-left: 15px
    padding-right: 15px
    a
      width: 100%
  .item-container
    .hover-icons
      .top-icon
        margin-top: -12px
      p
        font-size: 12px
        img
          margin-top: 10px
          max-height: 40px
      .left-icon
        img
          max-height: 20px
      .middle-icon
        img
          max-height: 20px
      .right-icon
        margin-top: 1px
        img
          max-height: 20px
  .all-photos
    border-right: 1px solid #747474
  .favorites-holder
    border-right: 1px solid #747474
  .mosaic
    .item 
      width: 50%
      margin: 0px !important
      padding: 2.5px
  .event-nav
    display: none
  .event-nav-mobile
    padding-top: 18px
    padding-bottom: 10px
    font-size: .8em
    width: 100%
    overflow-x: scroll
    -webkit-overflow-scrolling: touch
    .icons-holder
      width: 1000px
    .icon-holder
      text-align: center
      float: left
      width: 80px
  #notification-container
    .noti_bubble
      display: block
      position: relative
      max-width: 30px
      margin-top: -35px
      margin-left: 50px
      top: 0px
      right: 5px

  .icon-holder
    img
      max-height: 34px
  #share-icon-mobile
    img
      max-height: 42px !important

  #share-icon
    display: none
  #share-icon
    a
      color: #3dc870 !important
  .share-others
    color: #7b7a7a
  
  .drawer-nav
    width: 95%
    left: -95%

  .drawer--left .drawer-nav
    left: -95%

  .folder-row
    padding: 6px 20px !important
    background: #c0c0c0
    font-size: 14px !important

  .check-share
    margin-top: 5px !important

@media (min-width: 992px) and (max-width: 1200px) 
  .header-cart
    img
      padding-left: 50px
  .cart_bubble
    left: 105px
  .noti_bubble
    right: 10px

@media (min-width: 1200px)
  .cart_bubble
    left: 55px
