@media (min-width: 767px) 
  .mobile-code-not-working
    display: none

@media (max-width: 767px) 
  .block-grid-item
    padding: 0
  h1
    margin-top: 18px
    text-align: center
    font-size: 1.6em
    margin-bottom: 10px
  #gallery-holder
    p
      text-align: center
      a
        font-size: .7em
        color: #3dc870
