@media (max-width: 767px) 

  #gallery-holder 
    .item-right
      padding-left: 0px !important
  .code-not-working
    display: none

@media (min-width: 767px) 
  #gallery-holder 
    .block-grid-item 
      p
        padding-top: 10px

@media (max-width: 992px) and (min-width: 767px) 
  #code-input
    font-size: 20px
    height: 40px
  #intro
    button
      font-size: 20px
  #welcome
    h1
      font-size: 28px !important
  #gal
    h1
      font-size: 28px !important
  .item-bottom
    padding-top: 0px !important

@media (min-width: 992px) 
  .mobile-code-not-working
    display: none
  #intro
    padding-top: 15px
    .row
      padding: 10px 0
  .code-not-working
    a
      &:hover
        color: #3cc871 !important
  .md-pad
    padding: 0px 0px 5px 0px !important
  .md-p
    padding-bottom: 0px !important
      
@media (max-width: 992px) 
  #code-input
    text-align: center
    color: #7b7a7a
  .mobile-code-not-working
    text-align: right
  .ptb-5
    padding: 5px 0 !important
  .view-event
    margin-top: 10px
    width: 100%
  #intro
    .row
      background: #fff
      padding-bottom: 0
  #welcome
    padding: 10px 15px
    h1
      font-size: 1.6em
      text-align: left
      font-weight: 700
    h2
      font-size: 1.3em
      font-weight: 300
  #gallery
    padding: 30px 15px
    a
      font-size: .7em

  #intro
    .row
      padding: 10px 7.5px

  #gal
    h1
      display: inline-block
    .row
      padding: 0px 30px

  #welcome
    .row
      padding: 15px