@media (min-width: 767px) 
  footer
    .help-text
      text-align: right

@media (min-width: 991px) 
  footer
    .help-text
      padding-top: 40px

@media (max-width: 767px) 
  footer
    font-size: .9em
    ul
      padding-left: 15px
    img
      display: none
    .help-text
      text-align: left
      margin-left: 15px
    .copyright
      p 
        padding-left: 15px
        text-align: left !important
        span
          font-size: .8em
  .wrapper
    overflow-x: hidden

